a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.home-bg {
  background-color: #edf5f5;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  font-family: "Lora";
  size: 3em;
}

.new-entry-form,
.history-pg-components {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.entry-form-components {
  display: flex;
}

.entry-form-components > span {
  width: 8rem;
}

.user-inputs {
  flex-grow: 3;
  border: 1px solid #9ab3bd;
  border-radius: 0.3rem;
  padding: 0.4rem;
}

.user-inputs:focus {
  border-color: #9ab3bd;
  outline: none;
}

.entry-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  background-color: #8abbca;
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
}

button:hover {
  background-color: #6a9abc;
}
